---
---
<html lang="en">
  <head><meta charset="utf-8" /></head>
  <body>
    <script type="module">
      import { handleCallback } from "/src/lib/auth.ts";
      (async () => {
        const to = await handleCallback();
        window.location.replace(to);
      })();
    </script>
    Redirecting...
  </body>
</html>
